*{
   margin: 0 auto;
    
}
body{
    display: grid;
    gap:25px;
    justify-content: center;
    grid-template-areas: "header" "servicios" "des_seption1" "pintura" "des_seption2" "literatura" "des_seption3" "musica" "footer";
    grid-template-rows: 500px 500px 60px 200em 60px 150em 60px 195em 150px;
    margin: auto 80px;
    background-color: rgb(255, 255, 255);

}
.pintura{
    grid-area: pintura;
    display: grid;
    gap: 30px;
}
.Musica{
    grid-area: musica;
    display: grid;
    gap: 30px;
}
.literatura{
    grid-area: literatura;
    display: grid;
    gap: 30px;
    background-color:aliceblue;
}
.header{
    grid-area:header;
    position: relative;
    background-image: url("../sources/imagenes/img_10.webp" );
    gap: 1000px;
    background-position: center;
    width: 100%;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
}
.nav_header{
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    gap:70px ;
    height:auto ;
}
.ul_header{
    display: flex;
    gap:30px ;
    align-items: center;
    font-size: 20px;
    list-style: none; 
    :hover{
        color:rgb(17, 253, 40);
    }
}
a{
    text-decoration: none;
    color: black;
    
}
.header_descripcion{
    position: relative;
    display: flex;
    top: 70px;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    gap: 50px;
    padding: 10px;
    font-size: 18px;
}
.p_descripcion{
    width: 900px;
    font-family: cursive;
}
.titulo_1{
    font-size: ;
    font-family: cursive;
    
}
.tarjeta{
    background-color: rgb(223, 157, 124);
}
.masInformacion_header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: black;
    width: 13rem;
    border-top-right-radius:35px ;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    font-size: 10px;
    font-family: monospace;
    :hover{
        background-color: rgb(59, 95, 23);
    }
  
}
.contenedor_servicios{
    position: relative;
    display: flex;
    justify-content: center;
    background-color:white;
    padding:60px ;
    justify-content: center;
    gap:10px ;
    align-items: center;
}

.servicios{
    grid-area: servicios;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding:40px ;
    font-size: ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family: Arial, Helvetica, sans-serif;
    
}
.ul_servicios{
    position: relative;
    display: flex;
    flex-direction: column;
    gap:5px ;
    list-style: none;
    align-self: auto;
    font-family: cursive;
    
}
.texto_servicios{
    position: relative;
    display: flex;
    flex-direction: column;
    gap:30px ;
    align-items: center;
    font-size:15px ;
}

.contenedor_imgservicios2{
    position: relative;
    top: 30px;
}
.contenedor_imgservicios1{
    position: relative;
    top: -40px;
}

.imgSer{
   border-radius: 20px;
}
.section_descripcion1{
    grid-area: des_seption1;
    position: relative;
    font-family: cursive;
    font-size: 25px;
}
.section_descripcion2{
    grid-area: des_seption2;
    position: relative;
    font-family: cursive;
    font-size: 25px;
}
.section_descripcion3{
    grid-area: des_seption3;
    position: relative;
    font-family: cursive;
    font-size: 25px;
}
.tarjeta_pintura1{
    position: relative;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 700px 600px;
    padding: 20px;
    font-family: monospace;
}
.tarjeta_pintura_texto{
    padding:20px ;
    display: flex;
    flex-direction: column;
    position: relative;
    font-size:18px ;
    gap: 20px;
    justify-content: center;
    justify-items: center;
    
   
}
.img_tarjeta_pintura{
    display: flex;
    position: relative;
    height:500px;
    width: 550px;
    align-self: center;
    align-items: center;
    justify-self: center;
    background-color:#F1F0E8 ;
    border: 1px solid black;
    border-top-right-radius:40px ;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: 10px 10px 10px 1px rgb(102, 103, 106);
    background-color: rgb(188, 188, 188);
    :hover{
        box-shadow: 10px 10px 10px 1px rgb(17, 179, 30);
    }
   
}
.tarjeta_literatura1{
    position: relative;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 700px 600px;
    padding: 20px;
    font-family: monospace;
}
.tarjeta_literatura_texto{
    padding:20px ;
    display: flex;
    flex-direction: column;
    position: relative;
    font-size:18px ;
    gap: 20px;
    justify-content: center;
    justify-items: center;   
}
.img_tarjeta_literatura{
    display: flex;
    position: relative;
    height:400px;
    width: 550px;
    align-self: center;
    align-items: center;
    justify-self: center;
    background-color:#F1F0E8 ;
    border: 1px solid black;
    border-top-right-radius:40px ;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: 10px 10px 10px 1px rgb(102, 103, 106);   
    :hover{
        box-shadow: 10px 10px 10px 1px rgb(17, 179, 30);
    }
}
.tarjeta_musica1{
    position: relative;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 700px 600px;
    padding: 20px;
    font-family: monospace;
}
.tarjeta_musica_texto{
    padding:20px ;
    display: flex;
    flex-direction: column;
    position: relative;
    font-size:18px ;
    gap: 20px;
    justify-content: center;
    justify-items: center;
   
}
.img_tarjeta_musica{
    display: flex;
    position: relative;
    height:450px;
    width: 400px;
    align-self: center;
    align-items: center;
    justify-self: center;
    background-color:#F1F0E8 ;
    border: 1px solid black;
    border-top-right-radius:40px ;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: 10px 10px 10px 1px rgb(156, 175, 230);
    background-color: rgb(173, 173, 173);
    :hover{
        box-shadow: 10px 10px 10px 1px rgb(17, 179, 30);
    }
}
.footer{
    grid-area: footer;
    position: relative;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 33, 64);
    color: white;
    width: 100%;
}
.aa{
    color: white;
    text-decoration: none;
}
.tarjeta_videos{
   position: relative;
   display: grid;
   grid-template-columns: 300px 300px;
   gap: 300px;
   justify-content: baseline;
   top: 10px;
}
.tarjeta_videos1{
    display: flex;
    position: relative;
    height:350px;
    width: 400px;
    align-self: center;
    align-items: center;
    justify-self: center;
    background-color:#F1F0E8 ;
    border: 1px solid black;
    border-top-right-radius:40px ;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: 10px 10px 10px 1px rgb(156, 175, 230);
    background-color: rgb(173, 173, 173);
}


